<mat-card style="margin-top: -20vh;">
  <ngb-carousel *ngIf="images" class="w-100 rounded border-top border-dark" style="max-height: 50%">
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
          <div alt="Random first slide" class="w-100 rounded" style="height: 100vh;width: 100vh;background-color: #6c757d!important;">
            <div class="w-100 d-flex flex-column rounded" >
              <mat-card-title class="text-light" style="margin-left: 10vh;margin-top: 20vh;">A PROPOS</mat-card-title>
              <div class="row" style="height: 10px;width: 100px;background-color: crimson; margin-left: 10vh"></div>
              <div class="text-light" style="margin-left: 10vh;margin-top: 20vh;">Ayant actuellement valid&eacute; ma 2&egrave;me ann&eacute;e &agrave; Centrale Lille IG2I, je souhaite int&eacute;grer, d&egrave;s la rentr&eacute;e prochaine, un apprentissage de 3 ans.</div>
              </div>
          </div>
        </div>
        
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <div alt="Random first slide" class="w-100 rounded d-flex flex-column rounded" style="height: 100%;width: 100vh;background-color: #6c757d!important; ">
          <mat-card-title class="text-light" style="margin-top:20vh; margin-left: 10vh;">EXPERIENCE</mat-card-title>
          <div style="height: 10px;width: 100px;background-color: crimson; margin-left: 10vh"></div>
          <div class="ml-2 mr-2 " style="margin-bottom: 20vh;">
            <mgl-timeline [toggle]="toggle" [alternate]="alternate" [side]="side">
              <mgl-timeline-entry *ngFor="let entry of entries; let i = index;">
                <mgl-timeline-entry-header style="z-index: 2;" (click)="onHeaderClick($event)">
                  <div [innerHTML]="entry.header"></div>
                </mgl-timeline-entry-header>
                <mgl-timeline-entry-content expandAnimationTiming="200ms ease" collapseAnimationTiming="100ms ease">
                  <div [innerHTML]="entry.content"></div>
          
                </mgl-timeline-entry-content>
                <mgl-timeline-entry-dot class="primary"
                                        style="background-color: aqua;z-index: 1;" 
                                        size="40"
                                        (click)="onDotClick($event)"
                                        expandAnimationTiming="200ms ease"
                                        collapseAnimationTiming="100ms ease"
                                        ></mgl-timeline-entry-dot>
                <mgl-timeline-entry-side class="text-light">{{entry.timeline}}</mgl-timeline-entry-side>
              </mgl-timeline-entry>
            </mgl-timeline>
          </div>
          </div>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <div alt="Random first slide" class="w-100 rounded d-flex flex-column rounded" style="height: 100vh;width: 100vh;background-color: #6c757d!important;">
                <mat-card-title class="text-light" style="margin-top:20vh; margin-left: 10vh;">COMPETENCES</mat-card-title>
          <div style="height: 10px;width: 100px;background-color: crimson; margin-left: 10vh"></div>
          </div>
      </div>
      <div class="carousel-caption">

      </div>
    </ng-template>
  </ngb-carousel>
</mat-card>