<head>
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
</head>
<div class="d-flex" style="font-family: 'Playfair Display', serif;background-color:aliceblue;">
    <div class="flex-row w-100 h-100 m-1">
        <div class="position-absolute">Accueil</div>
        <header-cv></header-cv>
        <icon-svg-facebook></icon-svg-facebook>
        <profile-picture></profile-picture>
        <ngbd-carousel-basic></ngbd-carousel-basic>
    </div>
</div>